<div class="account-page" style="height:500px;width:100%;position:relative;">
    <div ui-layout options="{flow:'row',dividerSize:0,disableToggle:true,disableMobileToggle:true}">
        <div ui-layout-container size="50px">
            <div class="search-panel">
                <p class="title">知识库</p>
                <select class="form-control">
                    <option>全部</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <select class="form-control">
                    <option>全部</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <select class="form-control">
                    <option>全部</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <input type="text" class="form-control" placeholder="搜索">
                <span class="glyphicon glyphicon-search search-button-blue"></span>

            </div>
        </div>
        <div ui-layout-container style="height:500px;">
            <div normal-grid="userGridOptions" class=""></div>
        </div>
    </div>
</div>