.custom-loading-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: white;
  display: none;
  filter: alpha(opacity=50);
  opacity: .5;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
  &.show {
    display: block;
  }
  .loading-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 111;
    .loading-icon {
      display: inline-block;
      padding: 24px;
      background-image: url(./images/loading.gif);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
    .loading-text {
      position: relative;
      top: -10px;
    }
  }
}