<div class="custom-dialog">
    <div class="modal-header" drag-handle>
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="custom-dialog-body">
        <div custom-loading="showLoading" data-text="{{loadingText}}"></div>
        <div class="modal-body" bind-html-compile="content">
        </div>
        <div class="modal-footer">
            <div class="modal-footer-buttons" ng-if="buttonTemplate" bind-html-compile="buttonTemplate"></div>
            <div class="modal-footer-buttons" ng-if="!buttonTemplate">
                <button class="btn btn-primary" type="button" ng-click="ok()">{{enterText}}</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">{{cancelText}}</button>
            </div>
        </div>
    </div>
</div>