<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>ng-demo</title>
</head>

<body ng-controller="homeController">
    <div ng-if="!loaded" class="custom-full-loading-mask show" ng-transclude>
        <div class="loading-content">
            <span class="loading-icon"></span>
            <span ng-if="loadingText" class="loading-text" ng-bind="loadingText"></span>
        </div>
    </div>
    <div class="main-container"></div>
    <div class="ibss">
        <div ui-layout ui-layout-loaded options="{flow:'column',dividerSize:0,disableToggle:true,disableMobileToggle:true}">
            <div ui-layout-container collapsed="false" size="200px" class="frame-sidebar-wrapper">
                <div class="frame-sidebar" tree-data="treeData.tree" text-field="name" value-field='id' item-clicked="treeData.itemClicked($item)"
                    item-checked-changed="treeData.itemCheckedChanged($item)" can-checked="true">
                </div>
            </div>
            <div ui-layout-container="central" collapsed="false">
                <div ui-layout class="right-big" options="{flow:'row',dividerSize:0,disableToggle:true,disableMobileToggle:true}">
                    <div ui-layout-container class="top" size="50px">
                        <div class="frame-topbar"></div>
                    </div>
                    <div ui-layout-container>
                        <div custom-loading="routeStateValue!=4"></div>
                        <div class="frame-center">
                            <div data-ui-view>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>